<div class="category-list">
  <ng-container *ngFor="let category of categoryList$ | async">
    <p-card [header]="category.name">
      <ng-template pTemplate="header">
        <img alt="Card" [src]="category.imgUrl" />
      </ng-template>

      <ng-template pTemplate="footer">
        <p-button
          [routerLink]="['/category', category.id]"
          label="View"
          severity="secondary"
          class="btn-view"
          styleClass="w-full"
        />
      </ng-template>
    </p-card>
  </ng-container>
</div>

<form #form="ngForm" (ngSubmit)="onSubmit()">
  <div class="form-control">
    <label>Name</label>
    <input type="text" name="name" [(ngModel)]="newCategoryFrom.name" />
  </div>

  <div class="form-control">
    <label>Image url</label>
    <input type="text" name="imgUrl" [(ngModel)]="newCategoryFrom.imgUrl" />
  </div>

  <div>
    <button type="submit">Save</button>
  </div>
</form>
