<div class="category-list">
  <ng-container *ngFor="let category of categoryList$ | async">
    <app-item-card
      [name]="category.name"
      [src]="category.imgUrl"
      [link]="['/category', category.id]"
    >
    </app-item-card>
  </ng-container>
</div>

<div class="add-container">
  <h2>Add new category</h2>

  <form #form="ngForm" (ngSubmit)="onSubmit()">
    <div class="form-control">
      <label for="name">Name : </label>
      <input
        pInputText
        id="name"
        name="name"
        [(ngModel)]="newCategoryFrom.name"
      />
    </div>

    <div class="form-control">
      <label for="name">Image URL : </label>
      <input
        pInputText
        id="imageUrl"
        name="imageUrl"
        [(ngModel)]="newCategoryFrom.imgUrl"
      />
    </div>

    <div>
      <p-button
        label="Add new Category"
        type="submit"
        [raised]="true"
        severity="secondary"
      />
    </div>
  </form>
</div>
