.category-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

:host ::ng-deep p-card {
  width: calc(25% - 1rem);

  .p-card-header img {
    height: 250px;
    object-fit: cover;
    object-position: center;
  }

  .p-card-title {
    text-align: center;
  }

  .p-card-content {
    display: none;
  }

  .p-button {
    width: 100%;
    padding: 0.4rem 1rem;
  }
}
