<h1 class="tw-bg-gray-400 tw-text-gray-50 tw-font-4xl tw-p-8 tw-mb-4">
  Check PrimeNg id OK
</h1>

<p-button label="Primary" [rounded]="true" />
<p-button label="Secondary" [rounded]="true" severity="secondary" />
<p-button label="Success" [rounded]="true" severity="success" />
<p-button label="Info" [rounded]="true" severity="info" />
<p-button label="Warning" [rounded]="true" severity="warning" />
<p-button label="Help" [rounded]="true" severity="help" />
<p-button label="Danger" [rounded]="true" severity="danger" />
<p-button label="Contrast" [rounded]="true" severity="contrast" />
