<app-layout>
  <div class="product-list">
    <ng-container *ngFor="let product of productList$ | async">
      <p-card [header]="product.name">
        <ng-template pTemplate="header">
          <img alt="Card" [src]="product.imgUrl" />
        </ng-template>

        <ng-template pTemplate="footer">
          <p-button
            [routerLink]="['/product', product.id]"
            label="View"
            severity="secondary"
            class="btn-view"
            styleClass="w-full"
          />
        </ng-template>
      </p-card>
    </ng-container>
  </div>
</app-layout>
