:host ::ng-deep p-card {
  width: 100%;

  .p-card {
    position: relative;
  }

  .p-card-header .p-button {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    padding: 0;
    width: 30px;
    height: 30px;

    .p-button-icon {
      font-size: 1rem;
    }
  }

  .p-card-header img {
    height: 250px;
    object-fit: cover;
    object-position: center;
  }

  .p-card-title {
    text-align: center;
  }

  .p-card-content {
    display: none;
  }

  .p-button {
    width: 100%;
    padding: 0.4rem 1rem;
  }
}
