:host ::ng-deep p-card {
  width: 100%;

  .p-card-header img {
    height: 250px;
    object-fit: cover;
    object-position: center;
  }

  .p-card-title {
    text-align: center;
  }

  .p-card-content {
    display: none;
  }

  .p-button {
    width: 100%;
    padding: 0.4rem 1rem;
  }
}
